matplotlib==2.1.0
tensorflow==1.15.2
numpy==1.13.3
inflect==0.2.5
librosa==0.6.0
scipy==1.0.0
Unidecode==1.0.22
resemblyzer
vinorm 
underthesea 
eng_to_ipa 
git+git://github.com/quadrismegistus/prosodic.git 
viphoneme
pillow
torch==1.4.0
numpy==1.17